*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: #0093B9;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: #15161a;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 12px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}
h2{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
p{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
.fade{
    opacity: 1;
    transition: opacity 1.5s;
}
button{
    display: block;
    background-color: #fab22e;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #171721;
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
}
header {
    color: black;
    padding: 15px;
    text-align: center;
}

h3 {
    margin: 0;
}

nav {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    border-radius: 12px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 12px;
}

nav a:hover {
    background-color: #15161a;
    color: white;
    border-radius: 12px;
}